* {
  transition: all .9s;
}

body {
  font-family: sans-serif;
  background-color: grey;
}

/*
  4 base layouts: sm, wd, tl, bg
  anything above this line will be used for small layout.
 */

/* wide */
@media (min-width: 700px) and (max-height: 500px) {
  body {
    background-color: pink;
  }
}

/* tall */
@media (max-width: 700px) and (min-height: 500px) {
  body {
    background-color: lightgreen;
  }
}

/* big */
@media (min-width: 700px) and (min-height: 500px) {
  body {
    background-color: lightblue;
  }
}
