html {
  font: 112.5%/1.6667 'Archivo', sans-serif !important;
  color: #0E162D;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga", "hist", "onum";
  font-feature-settings: "liga", "hist", "onum";
}

.reveal {
  h1 {
    font-size: 2.8rem;
    text-transform: none;
  }

  .u-font-byline {
    font-size: 1rem;
    text-transform: capitalize;
  }

  .progress {
    color: #000;
  }

  section {
    img {
      border: none;
    }
  }

  p {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .u-font-meta {
    color: #8c959a;
  }

  .container {
    background-color: #fff;
    padding: 1rem 0;
    z-index: 1;
  }

  .hr-vertical {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    overflow: visible;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    border-color: #0E162D;
    margin: 0;
    border-left: solid;
    border-width: 0.5px; // solves weird border bug in chrome, kinda hacky
    position: absolute;
  }

  img {
    max-height: 500px;
  }

  .slides section.flex {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .fragment {
    display: none;
    transition: all .2s ease;

    &.visible {
      display: block;
    }
  }
}
